body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: radial-gradient(circle at center, #555, #000);
}

html {
    height: 100%;
    display: grid;
}

.container {
    margin: auto;
    display: grid;
}

.wrapper {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0;
    overflow: hidden;
    border-radius: 10px;
    outline: 15px solid rgba(20, 20, 20, 0.75);
    box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.5);
    background: linear-gradient(-45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.95) 100%);
}

.square {
    background: #141414;
    opacity: 1;
    border-radius: 50%;
    box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;
}

button {
    margin: 20px auto 0;
}

#art {
    width: 500px;
    height: 500px;
}
